* {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    padding: 5px;
    margin: 10px;
    background-color: grey;
    border-radius: 2px;
}

.container {
    position: relative;
    outline: 1px solid black;
    --size: 4;
    height: 960px;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    padding: 0;
    border: none;
}

.cell {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid black;
    background-color: grey;
    border-radius: 0px;
}